$font-default: "Noto Sans JP", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", "游ゴシック",
  "Yu Gothic", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
$font-english: "Montserrat", sans-serif;

/* ======================================
common
====================================== */
body {
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.1em;
  font-family: "Noto Sans JP", "sans-serif";
}

.inner {
  max-width: 1200px;
  margin: 0 auto;
}

.title {
  font-size: 36px;
  font-family: $font-english;
  text-align: center;
}

/* ======================================
header
====================================== */
.header {
  position: fixed;

  &__logo {
    padding: 20px 0px;
  }

  &__nav {
    background-color: black;
    width: 100vw;
    position: relative;
    left: 50%;
    transform: translateX(-50%);

    &__list {
      display: grid;
      grid-template-columns: 100px 100px 100px 100px 100px auto;
      color: white;
      height: 50px;
      padding: 0px;
    }
    
    &__item {
      cursor: pointer;
      list-style: none;
      margin: auto;
      text-align: center;

      a {
        text-decoration: none;
        color: white;
        margin: auto;
      }
    }
  }
}

/* ======================================
pickup
====================================== */

/* ======================================
main
====================================== */

/* ======================================
sidebar
====================================== */

/* ======================================
footer
====================================== */